<div id="layout">
    <div id="header">
        <h1>mootools mvc</h1>
    </div>
    <div id="navigation">
        <hr/>
        <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/examples">Examples</a></li>
        </ul>
    </div>
    <div class="columns">
        <div class="col1" id="content">
            <small>target: #content</small>
        </div>
        <div class="col2" id="sidebar">
            <small>target: #sidebar</small>
        </div>
        <!-- fast but ugly clearing hack -->
        <hr class="clear"/>
    </div>
    <div id="footer">
        <ul>
            <li>2009 &copy</li>
            <li>Sven Eisenschmidt</li>
            <li><a href="http://unsicherheitsagent.de">http://unsicherheitsagent.de</a></li>
        </ul>
    </div>
</div>