<div id="layout">
    <div id="header">
        <h1>MVC App</h1>
        <hr/>
    </div>
    <div id="navigation">
        <p><strong>Navigation: </strong></p>
        <ul>
            <li><a href="#/">Startseite</a></li>
            <li><a href="#/news">News</a></li>
            <li><a href="#/news/10-08-2009/news-test-with-params.html">News with Params</a></li>
            <li><a href="#/comments/recent">Page with Data from an Model</a></li>
            <li><a href="#/crazy-url">404 Test with crazy wrong url</a></li>
            <li><a href="#/raise-error">Test Error Controller with defect Route!</a></li>
        </ul>
        <hr/>
    </div>
    <div class="columns">
        <div class="col1" id="main">
            MAIN
        </div>
        <div class="col2" id="sidebar">
            SIDEBAR
        </div>
    </div>
</div>