<div class="list-feed-view">
    <h3>Feed: </h3>
    <div class="inner-content">

    </div>
</div>
<script type="javascript">

    if($chk(this.title)) {
        this.getElement('h3').set('text', this.title);
    }

    var entryList = new Element('ul');

    this.items.each(function(entry) {
        new Element('li').grab(new Element('div').grab(new Element('a', {
            'text': entry.getElement('title').get('text'),
            'href': entry.getElement('link').get('href')
        }))).grab(new Element('p', {
            'html': 'Author:  ' + entry.getElement('author').get('text') + ' ' +
                    'Updated: <em>' + entry.getElement('updated').get('text') + '</em>'
        })).inject(entryList);
    });

    this.getElement('div.list-feed-view div.inner-content').grab(entryList);

</script>