<div class="comments-recent-view">
    <h2>Recent Comments</h2>
    <div class="inner-content">
        <p>This List of comments is retrieved from <em><a href="assets/scripts/usr/default/data/comments.json">assets/scripts/usr/default/data/comments.json</a></em><br/>
            through a Model called Comments <em>(Default_Comments_Model)</em>.</p>
        <p>It gets rendered by a view script called <em>comments/recent.html</em>.</p>
        <p>There are only 3 entries but you can set lower amount fo the results <br/>
           by changing/adding the last url paramter like <a href="#/comments/recent/1">Get only one entry</a> or <br/>
           <a href="#/comments/recent/50">Get fifty entries</a>.</p>
    </div>
</div>
<script type="javascript">


    var commentContainer = new Element('ul');

    view.vars.comments.each(function(comment, index) {

        var commentTitle = new Element('h3', {
            'text': comment.title + ' | from ' + comment.author
        });

        var commentText = new Element('p', {
            'text': comment.text
        });

        var commentBox = new Element('li', {
            'class': 'index-' + index
        }).grab(commentTitle)
            .grab(commentText)
                .inject(commentContainer);
    });

    commentContainer.inject(document.getElement('.comments-recent-view').getElement('.inner-content'), 'bottom');

</script>