<div class="index-view">
    <h2>IndexView</h2>
    <div class="inner-content">
        <p>This, of course, is not the real copy for this advertisement. 
            The real words will be written once you have approved the headline. 
            Rest assured, the words will expand the concept. With clarity. Conviction. 
            And even a little wit. Because in today’s competitive marketing environment, 
            the body copy of your advertisment must lead the reader through a series of 
            disarmingly simple thoughts.</p>
        <p>This, of course, is not the real copy for this advertisement.
            The real words will be written once you have approved the headline.
            Rest assured, the words will expand the concept. With clarity. Conviction.
            And even a little wit. Because in today’s competitive marketing environment,
            the body copy of your advertisment must lead the reader through a series of
            disarmingly simple thoughts.</p>
    </div>
</div>
<script type="javascript">

    this.getElement('h2').set('text', this.title);

    this.getElement('h2').addEvent('click', function() {
        this.setStyle('color', 'red');
    });

    /*
    var Ul = new Element('ul');
    this.links.each(function(item){
        var Li = new Element('li');
        new Element('a', item).inject(Li);
            Li.inject(Ul);
    });
    Ul.inject(this.getElement('.inner-content'));
    */
</script>

